.container {
  margin: 30px;
}

.post-list {
  padding: 10px;
  border: solid 1px;
}

.post-item {
  margin: 10px;
  padding: 5px 15px;
  border-bottom: solid 1px;
}

.post-item:last-child {
  border-bottom: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
